<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body class="<%= session.user.color %>">
    <%- include("./partials/header") %>


   <main>
    <div>
        <h1>Ya iniciaste sesion</h1>
    </div>
   </main>


</body>
</html>