<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/welcome.css">
<body class="<%= session.user.color %>">
    <%- include("./partials/header") %>


   <main>
    <div class="msg">
        <h1>¡Gracias por tu visita!</h1>
      
    </div>
   </main>


</body>
</html>